<nav class="navbar">
    <div class="logo">
        <p class="title_logo"> Jurassic wuuuuurld </p>
        <img class="Princ_logo" src="">

        
    </div>

    <div class="burger">
            <img src="/menu_burger.png" alt="">

    </div>
    <div class="nav-on-click">
        <div class="navlink">
            <ul>
                <li>
                    <p class="navlink"><a href="">Acceuil</a></p>
                </li>

                <li>
                    <p class="navlink"><a href="">Nos dinos</a></p>
                </li>
                
                <li>
                    <p class="navlink"><a href="">Billeterie</a></p>
                </li>

                <li>
                    <p class="navlink"><a href="">Contact</a></p>
                </li>
            </ul>

        </div>

        

        <div class="login">
            <p id="Login"><a href=""> Se connecter </a></p>

            <p id="Resgister"><a href=""> S'enregistrer </a></p>
        </div>
    </div>
    
</nav>