<%- include ("../partials/head") %>

<article>
    <div class="cardMap">
        <img id="imgMap" src="/City_map-removebg-preview 1.png" alt="Map">
        <div class="postal">
            <ul class="listPostal">
                <li class="LiPostal"><h2> vegan dinosaure i swear </h2></li>
                <li class="LiPostal"><p>38100</p></li>
                <li class="LiPostal"><p>Irlande</p></li>

            </ul>
            
        </div>
    </div>
</article>


 <%- include ("../partials/footer") %>