<%- include ("../partials/head") %>

<article>
    <div class="divRegister">
        <form action="../" class="form-register">
            <div class="registerContainer">

                <h1 class="RegisterHash">Register</h1>
                <!-- <label for="nom">Nom</label> -->
                <input type="text" placeholder="Nom" name="nom" class="input-form">

                <!-- <label for="nom">Prenom</label> -->
                <input type="text" placeholder="Prenom" name="prenom" class="input-form">


                <!-- <label for="email">Email</label> -->
                <input type="text" placeholder="Email" name="email" class="input-form">


                <!-- <label for="password">Mot de passe</label> -->
                <input type="password" placeholder="Password" name="password" class="input-form">


                <!-- <label for="confirm-password">Confirmer Mot de passe</label> -->
                <input type="password" placeholder=" Confimr Password" name="confirm-password" class="input-form">

                <!-- <label for="birth"> Date de naissance </label> -->
                <input type="text" placeholder="Birth" name="birth" class="input-form">
                <div class="therm">
                <label>
                    <input type="checkbox" class="checktha">
                </label>

                <p class="formaccept"> Par le fait de créer un compte vous acceptez notre <a href="#">Conditions d'utilisation</a>.</p>

                </div>
                
                <button type="submit" class="registerBtn"> Register </button>

            </div>
        </form>
    </div>
</article>


 <%- include ("../partials/footer") %>